.header {
  display: flex;
  justify-content: space-around;
  background-color: #1f2937;
}

ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 20px;
}

.header-image {
  background-color: #ddd;
  display: flex;
  height: 200px;
  width: 350px;
}

.header-logo {
  font-size: 24px;
  color: #fff;
}

.header-text {
  font-size: 48px;
  font-weight: 800;
  color: #000;
}

.header-links,
.header-subtext {
  font-size: 18px;
  color: #000;
}

.test-run {
  display: flex;
}
